@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes logoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050509;
  color: rgb(241 245 249);
}

